
<div class="container mt-5 rounded bg-gray-100 p-4 shadow-lg">
  <h1 class="mb-4 text-2xl font-semibold">Internal server error</h1>
  @if (error)
  {
    <h5 class="text-red-600">Error: {{error.message}}</h5>
    <p class="mb-2 font-bold">This error comes from the server, not Angular</p>
    <p class="mb-2">What to do next?</p>
    <ol class="mb-4 ml-5 list-decimal">
      <li class="mb-1">Check the network tab in chrome dev tools</li>
      <li class="mb-1">Reproduce the error in postman. If same error, don't waste time troubleshooting angular code</li>
    </ol>
    <h5 class="mb-2 text-lg font-semibold">Stack trace</h5>
    <mat-card class="bg-white p-4">
      <code class="block whitespace-pre-wrap">{{error.details}}</code>
    </mat-card>
  }
</div>
