<header class="w-full border-b p-3 shadow-md">
  <div class="mx-auto flex max-w-screen-2xl flex-row items-center justify-between align-middle">
    <img src="/images/logo.png" alt="app logo" class="max-h-16"/>
    <nav class="my-2 flex gap-3 text-xl uppercase">
      <a>Home</a>
      <a>Shop</a>
      <a>Contact</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <a matBadge="5" matBadgeSize="large" class="custom-badge mr-2 mt-2">
        <mat-icon>shopping_cart</mat-icon>

      </a>
      <button mat-stroked-button>Login</button>
      <button mat-stroked-button>Register</button>
    </div>
  </div>
</header>
